<link rel="stylesheet" href="/css/gitment.css"> 
<script src="/js/gitment.js"></script>
<% if (!index && post.comments){ %>
<div id="gitmentContainer"></div>

<script>
var gitment = new Gitment({
  owner: '<%= theme.gitment.owner %>',
  repo: '<%= theme.gitment.repo %>',
  oauth: {
    client_id: '<%= theme.gitment.client_id %>',
    client_secret: '<%= theme.gitment.client_secret %>',
  },
})
gitment.render('gitmentContainer')
</script>
<% } %>