<% if(theme.local_search.enable) { %>
  <span class="local-search local-search-google local-search-plugin">
      <input type="search" placeholder="站内搜索" id="local-search-input" class="local-search-input-cls" style="<%- theme.local_search.facade %>">
      <div id="local-search-result" class="local-search-result-cls"></div>
  </span>
<% } %>